<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="service4vehicles" transaction-type="RESOURCE_LOCAL">

        <class>com.company.service4vehicles.entity.Client</class>
        <class>com.company.service4vehicles.entity.Address</class>
        <class>com.company.service4vehicles.entity.Service</class>
        <class>com.company.service4vehicles.entity.Order</class>
    </persistence-unit>
</persistence>
